import pytest

from {{ pkg_name }}.main import main


def test_main(capsys: pytest.CaptureFixture[str]) -> None:
    main()
    captured = capsys.readouterr()
    assert "Hello from {{ name }}" in captured.out
