set windows-shell := ["cmd", "/C"]

default:
    @just --list

test:
    uv run pytest -v
cov:
    uv run pytest --cov=src --cov-report=term-missing
lint:
    uv run ruff check .
fmt:
    uv run ruff format .
fix:
    uv run ruff check --fix .
    uv run ruff format .
check:
    uv run mypy src/
[% for recipe in template_just_recipes %]
(( recipe ))
[% endfor %]
[% for recipe in extra_just_recipes %]
(( recipe ))
[% endfor %]
