services:
  app:
    build: .
    ports:
      - "8000:8000"
[% if template == "fastapi" %]
    env_file:
      - .env
    command: uvicorn (( pkg_name )).main:app --host 0.0.0.0 --port 8000 --reload
[% endif %]
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
[% if template == "fastapi" %]

  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./.pgdata:/var/lib/postgresql/data
[% endif %]
