from fastapi import APIRouter

from .routes.health import router as health_router
# [zenit: router_imports]

api_router = APIRouter()
api_router.include_router(health_router)
# [zenit: router_includes]
